<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="=== %d [%.4t] %-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="FILE_LOG" class="org.apache.log4j.FileAppender">
        <param name="encoding" value="UTF-8"/>
        <param name="File"   value="${catalina.home}/logs/fault_message.log" />
        <param name="Append" value="false" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="=== %d [%.4t] %-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <!-- Velocity - set at DEBUG to enable logging of resolution failures -->
    <category name="org.apache.Velocity">
        <priority value="DEBUG" />
    </category>

    <!-- KPBS log messages -->
    <category name="com">
        <priority value="DEBUG" />
        <!-- appender-ref ref="STDOUT"/ -->
        <appender-ref ref="FILE_LOG"/>
    </category>
</log4j:configuration>
